*{margin: 0;padding: 0;}
a{text-decoration: none;}
a:hover{color: #FF6700;}
li{list-style: none;}
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
.w{width: 1226px;margin: 0 auto;}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
